<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>blujeans.xyz</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/skel.css') }}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style-xlarge.css') }}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
	<script>
		function next() {
			window.location.href = 'eye-color';
        }
	</script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">blujeans</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="signup.html" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

                    <section id="banner">
				        <h2>Access granted</h2>
                        <p>

							<input type="submit" value="Check the report" onclick="next()">
                        </p>

                    </section>
				</div>

			</section>
    </body>
</html>