
<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>blujeans.xyz</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/skel-layers.min.js"></script>
		<script src="static/js/init.js"></script>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/skel.css') }}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style-xlarge.css') }}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}" />

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">blujeans</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="sign" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Welcome to blujeans!</h2>
				<p>Bringing the world together, one chromosome at a time.</p>
				<ul class="actions">
					<li>
						<a href="about.html" class="button big">Learn More</a>
					</li>
				</ul>
			</section>
		<!-- Footer -->
			<footer id="footer">
					<div class="row">
						<div class="8u 6u$(medium)">
							<ul class="copyright">
								<li>&copy; blujeans 2018. All rights reserved.</li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>