<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>blujeans.xyz</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/skel.css') }}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style-xlarge.css') }}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}" />

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">blujeans</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="signup.html" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
					</header>

		<!-- Form -->
						<h1>Sign up. For free. Right now.</h1>
						<section>

							<p>Step 1: Name and Number: </p>
							
							<form method>
								<div class="row uniform 50%">

									<div class="6u$ 12u$(4)">
										<input type="text" name="Firstname" id="Firstname" value="" placeholder="First Name" />
									</div>
									<div class="6u$ 12u$(4)">
										<input type="text" name="Lastname" id="Lastname" value="" placeholder="Last Name" />
									</div>
									
									<div class="6u$ 12u$(4)">
										<input type="tel" name="Phone" id="Phone" value="" placeholder="Phone Number" />
										<input type="submit" value="Get authentification code"/>
										<p>{{codeS}}</p>
									</div>

									<div>
    									<input type="text" name="pin" pattern="[0-9]{4}" maxlength="4">
    									<input type="submit" value="Validate">
									</div>
							</section>
								</div>
							</form>
						</section>